body{
    background-color: rgb(0, 0, 0) !important;
    margin: 0;
}

.header{
    padding: 1rem 1rem;
}
.home {
    min-height: 100vh ;
    background-image: url(Back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: thick solid rgb(88, 88, 88);
}

.home1 h2{
    font-size: 3.5em;
}

.home1 h5{
    font-size: 1.5em;
}

.home1 p{
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    
}


.dropdown .eng{
    background-color: transparent;
    border-radius: 3px;
    border: thin solid rgb(255, 255, 255);
    text-decoration: none;
    color: white;
}

.dropdown .si{
    background-color: red;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    color: white;
}

input{
    width: 40%;
    height: 8vh;
    background-color: white;
    border: none !important;
    border-radius: 5px;
}

.gs{
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: 1.4rem !important ;
    padding: 30px 10px;
    font-weight: 500 !important;
}


.gs:hover{
    background-color:rgb(172, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.input-design{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 0;
    outline: none;
    box-shadow: none;
}
.input-design input{
    width: 30%;
    border-radius: 5px !important;
    padding-left: 10px;
    border: thin solid rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(0, 0, 0, 0.651);
}

.input-design input:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.651) !important;
    border: 0px ;

}

@media (min-width:1200px){
    .home1 h2{
        font-size: 4.5em;
    }
    
    .home1 h5{
        font-size: 2.5em;
    }
    
    .home1 p{
        font-size: 30px;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        
    }

    .home1{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 1rem;
        color: white;
    }
    
    
    .dropdown .eng{
        background-color: transparent;
        border-radius: 3px;
        border: thin solid rgb(255, 255, 255);
        text-decoration: none;
        color: white;
    }
    
    .dropdown .si{
        background-color: red;
        border-radius: 3px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    .home1{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 120px;
        color: white;
    }
    
    input{
        width: 40%;
        height: 8vh;
        background-color: white;
        border: none !important;
        border-radius: 5px;
        font-size: 1.2rem !important;
    }
    
    .gs{
        background-color: red;
        text-decoration: none;
        color: white;
        font-size: 2rem !important ;
        padding: 0.7rem 1rem !important;
        font-weight: 500 !important;
    }
    
    
    .gs:hover{
        background-color:rgb(172, 0, 0);
        border-radius: 5px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    .input-design{
        display: flex;
        justify-content: center;
        gap: 10px;
        border: 0;
        outline: none;
        box-shadow: none;
    }
    .input-design input{
        width: 30%;
        border-radius: 5px !important;
        padding-left: 10px;
        border: thin solid rgba(255, 255, 255, 0.5) !important;
        background-color: rgba(0, 0, 0, 0.651);
    }
    
    .input-design input:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.651) !important;
        border: 0px ;
    
    }

     .aboutt{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5rem;
    }
    
   
    
}


@media(max-width:768px){
    .input-design{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15px;
    }

    .input-design input{
        width: 50%;
        border-radius: 5px !important;
        padding-left: 10px;
        border: thin solid rgba(255, 255, 255, 0.5) !important;
        background-color: rgba(0, 0, 0, 0.651);
    }

    .gs{
        background-color: red;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        padding: 20px 10px;
        font-weight: 500 !important;
    }

    .home1{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 5rem;
        color: white;
    }
  

}

@media(max-width:601px){
    .input-design{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15px;
    }

    .input-design input{
        width: 60%;
        border-radius: 5px !important;
        padding-left: 10px;
        border: thin solid rgba(255, 255, 255, 0.5) !important;
        background-color: rgba(0, 0, 0, 0.651);
    }


        .gs{
            background-color: red;
            text-decoration: none;
            color: white;
            font-size: 1.2em !important;
            font-weight: 500 !important;
        }

    

    .home1 h2{
        font-size: 2.6em;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .home1 h5{
        font-size: 1.2em;
    }

    .home1 p{
        font-size: 15px;
    }

 
}



@media(max-width:475px){

    .logo img{
        width: 7rem;
    }

    .logo2 a{
        font-size: 10px;
    }
    .input-design{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15px;
    }

    .input-design input{
        width: 70%;
        border-radius: 5px !important;
        padding-left: 10px;
        border: thin solid rgba(255, 255, 255, 0.5) !important;
        background-color: rgba(0, 0, 0, 0.651);
    }

    .gs{
        background-color: red;
        text-decoration: none;
        color: white;
        font-size: 1.2em !important;
        font-weight: 500 !important;
    }


    .home1 h2{
        font-size: 2.1em;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .home1 h5{
        font-size: 1.2em;
    }

    .home1 p{
        font-size: 15px;
    }

    .gs{
        padding: 0px 10px;
    }



     
}



@media(max-width:375px){

    .logo img{
        width: 10rem;
    }

    .logo2 a{
        font-size: 6px;
    }

    .input-design{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15px;
    }

    .input-design input{
        width: 80%;
        border-radius: 5px !important;
        padding-left: 10px;
        border: thin solid rgba(255, 255, 255, 0.5) !important;
        background-color: rgba(0, 0, 0, 0.651);
    }

    .gs{
        background-color: red;
        text-decoration: none;
        color: white;
        font-size: 1.2em !important;
        font-weight: 500 !important;
    }

    .gs{
        padding: 0px 10px;
    }

    .home1 h2{
        font-size: 2.0em;
        font-weight: 700;
        padding-bottom: 20px;
    }

   
}
 

/* about starts */

    .about1{
        color: white;
    }
    .about11{
        color: white;
        text-align: center;
    }

    .about{
        border-bottom: thick solid rgb(88, 88, 88);
    }

/* about ends */

/* faq starts  */
.faq{
    margin: 0px 10em;
}

.faq h1{
    font-size: 3em; 
    font-weight: 800;
}
.card{
    border: none !important;
    height: 30% !important;
}
.card-header{
    background-color: rgb(37, 37, 37) !important;
    
}

.card-header button{
    color: white ;
    font-size:25px !important;
    font-weight: 400;
    text-decoration: none !important;
}

.card-header:hover{
    background-color: rgb(68, 68, 68) !important;
    color: white ;
    text-decoration: none !important;
}

.card-header button:hover{
    background-color: rgb(68, 68, 68) !important;
    color: white ;
}

.card-body{
    background-color: rgb(37, 37, 37) !important;
    color: white;
    font-size: 23px;
    font-weight: 500;
}


.subs{
    border-bottom: thick solid rgb(88, 88, 88);
}

li a{
text-decoration: underline;
text-align: left;
color: rgb(167, 167, 167);
}

li a:hover{
   color: white;
    }

li{
    list-style: none;
}
/* faq ends  */

   /* media xl starts */
   @media screen and (min-width:1200px) {
    .gs{
        background-color: red;
        text-decoration: none;
        color: white;
        font-size: 1.5rem !important ;
        padding: 30px 10px;
        font-weight: 500 !important;
    }
    
    
    .gs:hover{
        background-color:rgb(172, 0, 0);
        border-radius: 5px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .about11 h6{
        width: 100%;
        text-align: left;
        font-size: 2.5rem;
    }

    .about11 h1{
        font-size: 3rem ;
        text-align: left;
    }

    .aboutt{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5rem;
    }

    .accordion-button::after{
        content: '\002B';
        position: absolute !important;
        right: 30px !important;
        top: -20px;
        font-size: 2.5em;
      
       
    }
    
    .accordion-button:not(.collapsed)::after{
       content: '\00d7';
    }
    
}


/* media xl ends */

/* media medium starts */

/* media medium ends */
@media screen and (max-width:1200px){
    .about11{
        text-align: left;
        margin-top: 5em;
    }

    .aboutt{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5rem;
    }

    .about11 h6{
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
    }

    .about11 h1{
        font-size: 3rem ;
        text-align: left;
    }

    .header{
        padding: 0.5rem 1rem;
    }
    
    .faq{
        margin: 0px 40px;
    }

    .faq h1{
        font-size: 2em; 
        font-weight: 800;
    }

    .card-header button{
        color: white ;
        font-size:20px !important;
        font-weight: 400;
        text-decoration: none !important;
    }

    .card-body{
        background-color: rgb(63, 63, 63) !important;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
    .accordion-button::after{
        content: '\002B';
        position: absolute !important;
        right: 30px !important;
        top: 1px;
        font-size: 1.8em;
      
       
    }
    
    .accordion-button:not(.collapsed)::after{
       content: '\00d7';
    }

    .gs{
        padding: 5px 10px !important;
    }
}



/* media small */

 
@media screen and (max-width:768px){
    .header{
        padding: 0.5rem 1rem;
    }
    .input-group-append{
        position:absolute ;
        top: 120%;
        left:30%;
    }
    .input-group input{
        width: 100%;
    }

    .home{
        padding: 20px;
    }
   

    .about1 h6{
        text-align: center;
        font-size: 1em;
    }

    .about1 h1{
       font-size: 2em;
        font-weight: 700 !important;
        text-align: center !important;
    }

    .about11 h6{
        text-align: center;
        font-size: 1.1em;
    }

    .about11 h1{
       font-size: 2em;
        font-weight: 700 !important;
        text-align: center;
    }

    .aboutt{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0rem;
    }


    .faq{
        margin: 0px 40px;
    }

    .faq h1{
        font-size: 2em; 
        font-weight: 800;
    }

   .card-header{
    width: 100%;

    }
    .card-header button{
        color: white ;
        font-size:20px !important;
        font-weight: 400;
        text-decoration: none !important;
        text-wrap: wrap;
    }

    .card-body{
        background-color: rgb(63, 63, 63) !important;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .accordion-button::after{
        content: '\002B';
        position: absolute !important;
        right: 10px !important;
        top: 13px;
        font-size: 1.3em;
    }
    
    .accordion-button:not(.collapsed)::after{
       content: '\00d7';
    }

  
    
}

/* media small ends */

@media screen and (max-width:576px){
    .input-group-append{
        margin-right: 2px !important;
    }

    .home{
        padding-bottom: 20px;
    }

    .gs{
        padding: 0px 10px;
    }

    .header{
        padding: 0.5rem 1rem;
    }
}




@media screen and (max-width:320px){
    .input-group-append{
        position: absolute;
        left: 20px;
        height: 10px !important;
    }
    .gs{
        padding: 0px 10px;
    }
}
@media screen and (max-width:376px){
    
    .logo img{
        width: 6rem;
    }

    .logo2 a{
        font-size: 10px;
    }

    .home1 h2{
        font-size: 1.7em;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .gs{
        padding: 0px 10px;
    }

    .header{
        padding: 0.5rem 1rem;
    }
    
    
}

@media (max-width:320px){
    .logo img{
        width: 6rem;
    }

    .logo2 a{
        font-size: 8px;
    }
    .gs{
        padding: 0px 10px;
    }

    .header{
        padding: 0.5rem 1rem;
    }
}

@media (max-width:376px){
    .m3 li{
        font-size: 0.9rem ;
    }
}
